@font-face {
  font-family: "Avenir-Bold";
  src: url("../fonts/Avenir-Black.woff2") format("woff2"),
    url("../fonts/Avenir-Black.woff") format("woff");
}
.vertical-text,
.fontBoldAlupak{
    font-family: "Avenir-Bold", sans-serif;
}
