.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .slide img {
    width: 33.33%;
    height: 100%;
    /* object-fit: cover; */
  }
  