.modal-container {
    background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(3px); 
}

  .modal-content {
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
  }
  
  /* Close Button */
  .close {
    display: block;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
  }
  