@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(239, 239, 239);
}

::-webkit-scrollbar-thumb {
  background-color: #0e121d;
  border-radius: 1rem;
  border: 0.1rem solid transparent;
  background-clip: content-box;
}
